
/*=======================*/
/*        Variables     */
/*======================*/


$background-color: #58e1c1;
$nav-link: #fff;
$universal-color:#777;
$blue-color: #51ddfc;
$warning-color: #fd7856;
$theme-color: #927bc1;
$min-width: '(min-width: 768px)';
$font-weight: 300;
$font-serif: 'Lato', sans-serif;